h1 {
    font-size: 1.7rem;
    font-weight: 400;
}

.coinWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.coinWrapper div {
    width: 5rem;
    height: 5rem;
    background-color: chartreuse;
    border: 1px solid black;
    border-radius: 50%;
}